:root {
    --primary: rgb(59, 11, 11);
    --secondary: rgb(46, 45, 45);
    --tertiary: rgb(255, 255, 255);
    --light-grey: rgb(117, 114, 114);
    --black: rgb(0, 0, 0);
  }
  

  header {
    background-color: var(--primary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-large;
  }
  
  .hero {
    height: 400px;
    width: 100%;
    background-image: url("../Images/musician-2708190_1920-1170x550.jpg");
    background-size: cover;
    background-position: center;
  }
  
  body {
    background-color: var(--secondary);
  }

  .navbar {
    background-color: var(--light-grey);
    color: var(--tertiary);
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
    
  a {
    color: var(--tertiary);
  
  }
  
  .level {
    background-color: var(--light-grey);
    height: 50px;
  }
  
  footer {
    margin-top: 200px;
    text-align: center;
  }
  
  
  
 
  
  

 