:root {
    --primary: rgb(59, 11, 11);
    --secondary: rgb(46, 45, 45);
    --tertiary: rgb(255, 255, 255);
    --light-grey: rgb(117, 114, 114);
    --black: rgb(0, 0, 0);
}

.hero {
    height: 400px;
    width: 100%;
    background-image: url("../Images/musician-2708190_1920-1170x550.jpg");
    background-size: cover;
    background-position: center;
}

header {
    background-color: var(--primary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-large;
}

.navbar {
    background-color: var(--light-grey);
    color: var(--tertiary);
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.level {
    background-color: var(--light-grey);
    height: 50px;
}

a {
    color: var(--tertiary);

}

.card-header.column{
    background-color: var(--primary);
}

#search-form-section {
    color: var(--tertiary);
    padding-left: 5px;
    padding-bottom: 15px;
    
}

.label {
    color: var(--tertiary);
}

.radio {
    color: var(--tertiary);
}

#by-location {
    margin-left: -.6em;
}

body {
    background-color: var(--secondary);
    
}

.block {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--primary);
    padding-left: 10px;
    font-weight: bold;
    font-size: x-large;
  }

.btn {
    font-size: medium;
    text-decoration: var(--tertiary);
    width: 100%;
    display: block;
    margin: auto;
}
.column {
    background-color: var(--primary);
}

#google-maps-section{
    float: left;
    height: 25rem;
    width: 50rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    margin-top: 200px;
    color: var(--tertiary);
    text-align: center;
    display: block;
}

.modal-card footer {
    margin-top: 0px;
}

.modal-card-body {
    display: flex;
    justify-content: center;
    padding: 100px;
}

/*  Error Msg Modal Style    */
.modal is-active {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Empty Search Modal Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Band/Local Modal Close Button */
  .close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.column.is-full {
margin-top: 10px;
background-color: var(--secondary);
}

  #results-list {
      background-color: var(--secondary);
      color: var(--tertiary);
      
  }

  @media screen and (max-width: 1440px) {
    #google-maps-section {
        max-width: 100%;
        max-height: 100%;
    }
    body {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 1024px) {
  #google-maps-section {
      max-width: 100%;
      max-height: 100%;
  }
  body {
      max-width: 100%;
      max-height: 100%;
  }
}

@media screen and (max-width: 900px) {
  #google-maps-section {
      max-width: 100%;
      max-height: 100%;
  }
  body {
      max-width: 100%;
      max-height: 100%;
  }
}

@media screen and (max-width: 768px) {
  #google-maps-section {
      max-width: 100%;
      max-height: 100%;
  }

  body {
      width: 100%;
      height: 100%;
  }

  footer {
      display: block;
  }
}

@media screen and (max-width: 425px) {
  #google-maps-section {
      max-width: 100%;
      max-height: 100%;
  }

  body {
      width: 100%;
      height: 100%;
  }

  footer {
    margin-top: 200px;
    color: var(--tertiary);
    text-align: center;
}
}

@media screen and (max-width: 320px) {
  #google-maps-section {
      max-width: 100%;
      max-height: 100%;
  }

  body {
      width: 100%;
      height: 100%;
  }

  footer {
    margin-top: 200px;
    color: var(--tertiary);
    text-align: center;
}
}